@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}
body{
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
    position: relative;
}
main{
    position: relative;
    margin: auto;
    max-width: 1600px;
    width: 100%;
}
::selection{
    color: #fff;
    background: #fa65b1;
}
header{
    background-color: #efefef;
    /* top: 0px;
    left: 0px;
    right: 0px;
    margin: auto; */
    
}
.container{
    display: flex;
    justify-content: space-between;
    width: 100%; 
    max-width: 1600px;
    margin: auto;
    height: 60px;
    padding: 0px 100px;
    align-items: center; 
}
header div.container div:first-of-type span{
    padding-right: 40px;
    color: #afafaf;
}
header div.container div:first-of-type span a{
    color: #afafaf;
    font-size: 15px;
    text-decoration: none;
}
header div.container div:first-of-type span a:hover{
    color: #fa65b1;
}
header div.container div:first-of-type span a i{
    font-size: 16px;
    margin-right: 5px;
}
header div.container div:nth-of-type(2) a{
    padding: 5px;
    display: inline-block;
}
div.animation  nav div:nth-of-type(2) a{
    padding: 10px;
}
header div:nth-of-type(2) span a{
    background-color: #afafaf;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    font-size: 14px;
    transition: all .3s;
}
header div:nth-of-type(2) span a:hover{
    background-color: #fa65b1;
    color: #fff;
}
div.animation{
    position: sticky;
    height: 60px;
    top: 0px;
    z-index: 9999;
}
div.animation nav {
    display: flex;
    justify-content: space-between;
    background: #fff;
    width: 100%;
    height: 100px;
    margin-top: 0px;
    align-items: center;
    box-shadow: 0px 5px 8px rgb(0 0 0 / 3%);
}
div.animation nav {
    animation: NavMotion 3s;
    animation-delay: 0.3s;
    animation-fill-mode: both;
    animation-direction: normal;
    width: 100%;
}
@keyframes NavMotion {
    0%   {  opacity: 0;
            }
    50%  {  opacity: 1;
            } /* calc() */
}
div.animation nav div:nth-of-type(2) a{
    text-decoration: none;
    color: black;
    letter-spacing: 1px;
}
div.animation nav div:nth-of-type(2) a:nth-of-type(6){
    margin-right: 20px;
}
div.animation nav div:nth-of-type(2) button,main article div.flex div.LeftSide div:nth-of-type(2) button, div.GridFlex div.flex div.LeftSide div.miniflex #button3{
    height: 40px;
    background-color: #fff;
    text-transform: capitalize;
    color: #fa65b1;
    border: 1px solid #fa65b1;
    border-radius: 23px;
    font-weight: 500;
    padding: 10px 20px;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    cursor: pointer;
}
div.animation  nav div.container div:nth-of-type(2) a:hover{
    color: #fa65b1;
}
div.animation  nav div.container div:nth-of-type(2) button:hover, main article div.flex div.LeftSide div:nth-of-type(2) button:hover, div.GridFlex div.flex div.LeftSide div.miniflex #button3:hover{
    color: #fff;
    background: #fa65b1;
}
div.BackgroundPhoto1{
    background-image: url(https://templatemo.com/templates/templatemo_568_digimedia/assets/images/slider-right-dec.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    align-items: center;
    right: 0;
    top: 0px;
    width: 1159px;
    height: 860px;
    z-index: -2;
}
div.BackgroundPhoto2{
    background-image: url(https://templatemo.com/templates/templatemo_568_digimedia/assets/images/slider-left-dec.jpg);
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 60px;
    width: 262px;
    height: 625px;
    z-index: -1;
}
div.BackgroundPhoto3{
    background-image: url(https://templatemo.com/templates/templatemo_568_digimedia/assets/images/services-left-dec.jpg
    );
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 1400px;
    width: 786px;
    height: 1217px;
    z-index: -1;
}
div.BackgroundPhoto7{
    background-image: url("https://templatemo.com/templates/templatemo_568_digimedia/assets/images/blog-left-dec.jpg");
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: -130px;
    width: 961px;
    height: 1020px;
    z-index: -1;
}
.Hamburger{
    background-color: transparent;
    border: 0px;
    font-size: 20px;
    cursor: pointer;
    display: none;
}
.Hamburger:focus{
    outline: none;
}

div.flex div.LeftSide h2{
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    color: #fa65b1;
    margin-bottom: 15px;
}
main article div.flex div.LeftSide h1{
    position: relative;
    font-weight: 700;
    font-size: 50px;
    color: #2a2a2a;
    margin-bottom: 20px;
}
div.flex div.LeftSide p{
    margin-bottom: 30px;
    margin-right: 45px;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #afafaf;
}
main article{
    padding: 70px 100px 60px;
    width: 100%;
    max-width: 1600px;
    margin: auto;
}
main article:first-of-type div.RightSide div img, main article:nth-of-type(2) div.LeftSide div img, div.Combine div.flex div.RightSide img{
    object-fit: cover;
    object-position: center;
    width: 100%;
}
div.WhiteCircle1{
    display: inline-block;
    z-index: 99;
    position: absolute;
    width: 45px;
    margin: -13px 35px;
    height: 36px;
    background-color: #fff;
    border-top-left-radius: 100%;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
div.WhiteCircle2, div.WhiteCircle3{
    display: inline-block;
    z-index: 99;
    position: absolute;
    width: 75px;
    margin: -11px 0px;
    height: 49px;
    background-color: #fff;
    border-top-left-radius: 100%;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
div.circle1, div.circle2, div.circle3{
    margin-right: 5px;
    display: inline-block;
    width: 150px;
    height: 150px;
    background-color: transparent;
    border-radius: 50%;
    padding: 20px;
    border: 5px solid #f968b1;
}
.circle1 h2, .circle2 h2, .circle3 h2{
    display: inline-block;
    font-size: 50px;
}
.circle1 p{
    display: inline;
    color: #afafaf;
    margin-left: 20px;
}
.circle2 p, .circle3 p{
    display: inline;
    color: #afafaf;
    margin-left: 7px;
}
/*     
    width: 200px;
    height: 100px;
    border-top-left-radius: 110px;
    border-top-right-radius: 110px;
    border-bottom: 0;
    -------
    width: 200px;
height: 100px;
border-radius: 50% 50% 0 0 / 100% 100% 0 0;
border: 10px solid #000;
border-bottom: 0; */

div.flex {
    display: grid; 
    grid-template-columns: 0.5fr 0.5fr; 
    gap: 0px 30px; 
    justify-content: center;
    align-items: center;
    grid-template-areas: 
      "left right"; 
      
}
div.LeftSide{ 
    grid-area: left; 
    width: 100%;
    height: 100%;
    position: relative;
    animation: myfirst 3s;
    animation-delay: 0.5s;
    animation-fill-mode: both;
    animation-direction: normal;
}
@keyframes myfirst {
    0%   {  opacity: 0;
            left: -1200px; 
            top: 0px;}
    50%  {  opacity: 1;
            left: 0px; 
            top: 0px;} /* calc() */
}
div.RightSide{ 
    grid-area: right; 
    position: relative;
    animation: mysecond 3s;
    animation-delay: 0s;
    animation-fill-mode: both;
    animation-direction: normal;
}
@keyframes mysecond {
    0%   {  opacity: 0;
            right: -1200px; 
            top: 0px;}
    50%  {  opacity: 1;
            right: 0px; 
            top: 0px;} 
}
main article:nth-of-type(2) div.RightSide h3, main div.Agency h5, div.Portfolio h3, div.BackgroundPhoto4 h3, div.Main3 div.Main3Top h3{
    text-transform: uppercase;
    font-weight: 700;
    color: #726ae3;
    font-size: 15px;
    margin-bottom: 15px;
}
main article:nth-of-type(2) div.RightSide h4, div.BackgroundPhoto4 h2, div.Portfolio h2, div.Main3 div.Main3Top h2{
    color: #2a2a2a;
    font-size: 35px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 25px;
}
div.line{
    width: 50px;
    height: 2px;
    background-color: #726ae3;
}
.line2{
    width: 50px;
    height: 3px;
    background-color: #726ae3;
    margin: 0 auto;
}
#line3{
    width: 50px;
    height: 3px;
    background-color: #fff;
    margin: 20px auto 40px;
}
#line4{
    width: 50px;
    height: 3px;
    background-color: #2f27a5;
}
main article:nth-of-type(2) div.RightSide div.line + p{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #afafaf;
}
main div.Agency div.TextCenter h6{
    color: #2a2a2a;
    font-size: 35px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 25px;
}
main div.Agency div.TextCenter{
    text-align: center;
}
main div.Agency div.TextCenter div.animation2{
    width: 100%;
    position: relative;
    animation: myfourth 3s;
    animation-delay: 0s;
    animation-fill-mode: both;
    animation-direction: normal;
}
@keyframes myfourth {
    0%   {  opacity: 0;
            top: -150px;}
    50%  {  opacity: 1;
            top: 0px;} 
}
main div.Agency div.Icons{
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 30px 0px 0px;
}
main div.Agency div.Icons div.pointer {
    display: inline-block;
    margin: 0px;
    padding: 30px 0px;
    background-color: #fff;
    width: 15%;
    cursor: pointer;
    position: relative;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgb(0 0 0 / 10%);
    /* transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1); */
}
main div.Agency div.Icons div.pointer label{
    text-align: center;
    background-color: #fff;
    cursor: pointer;
    color: #2a2a2a;
    width: 15%;
    font-size: 20px;
    font-weight: 700;
}
div.Combine{
    padding: 70px 100px;
    margin: 70px 100px;
    /* transition-delay: 0.3s; */
    position: relative;
    z-index: 2;
    /* opacity: 1; */
    transform: translateX(0px);
    box-shadow: 0px 0px 15px rgb(0 0 0 / 10%);
    background-color: #fff;
    border-radius: 15px;
}
div.Combine div.flex div.LeftSide{
    animation:none;
}
div.Combine div.flex div.RightSide{
    animation:none;
}
div.Combine div.flex div.LeftSide div:first-of-type{
    display: inline-block;
    /* opacity: 1; */
    margin-right: 45px;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 400;
}
div.Combine div.flex div.RightSide
div.AgencyCombine{
    width: 100%;
    max-width: 1600px;
    margin: auto;
    padding: 70px 100px;
}
div.Combine div.flex div.LeftSide span{
    margin-right: 30px;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 400;
    display: inline-block;
}
div.BackgroundPhoto4{
        background-image: url(	https://templatemo.com/templates/templatemo_568_digimedia/assets/images/quote-bg.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        padding: 120px 0px;
        text-align: center;
        position: relative;
        z-index: 2;
        margin-top: 80px;
}
div.BackgroundPhoto4 h3, div.BackgroundPhoto4 h2{
        color: #fff;
}
div.animation3{
    animation: NavMotion 3s;
    animation-delay: 0.3s;
    animation-fill-mode: both;
    animation-direction: normal;
    width: 100%;
}
@keyframes NavMotion {
    0%   {  opacity: 0;
            }
    50%  {  opacity: 1;
            } 
}
div.BackgroundPhoto4 div.white{
    background: #fff;
    border-radius: 25%;
    display: inline-block;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}
div.BackgroundPhoto4 div.white button{
    border-top-right-radius: 40px;
    border-bottom-right-radius:40px;
    padding: 30px;
    background-color: #726ae3;
    font-size: 15px;
    color: #fff;
    border: 0px;
    cursor: pointer;
}
div.BackgroundPhoto4 div.white input:first-of-type{
    padding-right: 40px;
    margin: 0px 39px;
    border: 0px;
    border-bottom: 1px solid #eee;
}
div.BackgroundPhoto4 div.white input:nth-of-type(2){
    padding-right: 40px;
    margin-right: 20px;
    border: 0px;
    border-bottom: 1px solid #eee;
}
div.Portfolio{
    padding: 70px 100px;
    width: 100%;
    position: relative;
    animation: mythird 3s;
    animation-delay: 0s;
    animation-fill-mode: both;
    animation-direction: normal;
}
@keyframes mythird {
    0%   {  opacity: 0;
            left: -1200px; 
            top: 0px;}
    50%  {  opacity: 1;
            left: 0px; 
            top: 0px;} /* calc() */
}
div.Main2{
    position: relative;
    margin: auto;
    max-width: 1600px;
    width: 100%;
}
div.MotionPhotos{
    display: flex;
    width: 100%;
    margin-top: 10px;
    margin: auto;
    max-width: 1600px;
}
div.Motion{
    display: flex;
    width: 100%;
    flex-direction: column;
    border-radius: 25px;
    box-shadow: 0px 0px 15px rgb(0 0 0 / 10%);
    margin: 15px;
    cursor: pointer;
}
div.MotionPhotos div.Motion div h4{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 8px;
    transition: all .4s;
}
div.MotionPhotos div.Motion div p{
    font-size: 15px;
    transition: all .4s;
    /* color: #afafaf; */
}
div.MotionPhotos div.Motion div{
    text-align: center;
    padding: 10px 0px;
}
div.MotionPhotos div.Motion:hover{
    color: #fa65b1;
}
div.Main3{
    position: relative;
    margin: auto;
    max-width: 1600px;
    width: 100%;
}
div.Main3Top{
    text-align: center;
    margin-top: 60px;
}
div.GridFlex{
    padding: 70px 100px;
}
div.GridFlex div.flex div.LeftSide{
    box-shadow: 0px 0px 15px rgb(0 0 0 / 10%);
    border-radius: 25px;
}
div.GridFlex div.flex div.LeftSide div.Post img[alt="Colors"]{
    box-shadow: 0px 0px 15px rgb(0 0 0 / 10%);
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    width: 100%;
    cursor: pointer;
}
div.GridFlex div.flex div.LeftSide div.Post div.Description #button2, #button4{
    font-size: 15px;
    color: #fff;
    padding: 8px 12px;
    background-color: #726ae3;
    border-radius: 18px;
    display: inline-block;
    cursor: text;
}
div.GridFlex div.flex div.LeftSide div.Post div.Description #button2 + span, div.Description div.miniflex span{
    font-size: 15px;
    color: #afafaf;
    text-align: right;
    margin-top: 4px;
}
div.GridFlex div.flex div.LeftSide div.Post div.Description a, div.RightSide div.Description a{
    font-size: 20px;
    font-weight: 700;
    color: #2a2a2a;
    text-decoration: none;
}
div.GridFlex div.flex div.LeftSide div.Post div.Description a h3,div.RightSide div.Description a h3{
    font-size: 20px;
    font-weight: 700;
    color: #2a2a2a;
    margin-top: 20px;
    margin-bottom: 20px;
}
div.GridFlex div.flex div.LeftSide div.Post div.Description p,div.RightSide div.Description p{
    font-size: 15px;
    font-weight: 300;
    color: #afafaf;
}
div.Description div.miniflex{
    display: flex;
    justify-content: space-between;
}
div.Description div.miniflex div.left{
    display: flex;
    align-items: center;
}
div.Description div.miniflex div.left img{
    max-width: 56px;
    border-radius: 50%;
    margin-right: 15px;
}
div.GridFlex div.flex div.RightSide div.Right1 img{
    border-radius: 23px;
    display: inline-block;
    overflow: hidden;
    width: 220px;
    cursor: pointer;
    margin-right: 30px;
}
div.Description.check1, div.Description.check2, div.Description.check3{
    align-self: center;
}
div.GridFlex div.RightSide{
    display: grid; 
    grid-template-columns: 0.4fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 40px 0px; 
    grid-template-areas: 
      "img1 description1"
      "img2 description2"
      "img3 description3"; 
}
div.GridFlex div.RightSide div.Right1 img[alt="image1"]{ 
    grid-area: img1; 
}
div.GridFlex div.RightSide div.Right1 img[alt="image2"]{
    grid-area: img2; 
}
div.GridFlex div.RightSide div.Right1 img[alt="image3"] { 
    grid-area: img3; 
}
div.GridFlex div.RightSide div.Description.check1{ 
    grid-area: description1; 
}
div.GridFlex div.RightSide div.Right1 div.Description.check2{ 
    grid-area: description2;
}
div.GridFlex div.RightSide div.Right1 div.Description.check3{ 
    grid-area: description3; 
}
div.miniflex2{
    display: grid;
    grid-template-columns: 1fr 0.3fr;
    grid-template-areas: "desc photo";
}
div.miniflex2 div.Main3Top{
    grid-area: desc;
}
div.miniflex2 img[alt="Phone"]{
    grid-area: photo;
}
div.BigGrid{
    display: grid;
    grid-template-columns: 0.7fr 1fr;
    grid-template-areas: "map form";
}
div.BigGrid div.LeftMap {
    grid-area: map;
}
div.BigGrid div.RightForm{
    grid-area: form;
}
div.RightForm{
    padding: 80px 60px 80px 30px;
}
div.miniflex4{
    display: flex;
    gap: 20px;
}
div.RightForm div.miniflex4 div.Same{
    display: inline-block;
    text-align: center;
    box-shadow: 0px 0px 15px rgb(0 0 0 / 10%);
    border-radius: 23px;
    padding: 25px 15px;
    margin-bottom: 20px;
    width: 100%;
}
div.RightForm div.miniflex4 div.Same a{
    display: block;
    margin-top: 15px;
    font-size: 15px;
    font-weight: 500;
    color: #2a2a2a;
    transition: all .3s;
    text-decoration: none;
}
div.BigGrid div.LeftMap iframe{
    width: 100%;
    height: 100%;
}
div.LastGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "Inputs Message";
    gap: 20px;
}
div.LastGrid div.Inputs{
    grid-area: Inputs;
}
div.LastGrid textarea[id="message"] {
    grid-area: Message;
}
div.RightForm div.LastGrid div.Inputs input{
    width: 100%;
    height: 46px;
    background-color: transparent;
    border: 1px solid #eee;
    outline: none;
    font-size: 15px;
    font-weight: 300;
    color: #2a2a2a;
    padding: 0px 20px;
    border-radius: 23px;
    margin-top: 30px;
}
div.RightForm div.LastGrid textarea{
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    max-height: 200px;
    min-height: 200px;
    height: 200px;
    border-radius: 23px;
    background-color: transparent;
    border: 1px solid #eee;
    outline: none;
    font-size: 15px;
    font-weight: 300;
    color: #2a2a2a;
    padding: 15px 20px;
    margin-top: 30px;
}
#button6{
    display: inline-block;
    background-color: #fff;
    font-size: 15px;
    font-weight: 400;
    color: #fa65b1;
    margin-top: 30px;
    width: 100%;
    text-transform: capitalize;
    padding: 12px 25px;
    border-radius: 23px;
    letter-spacing: 0.25px;
    border: 1px solid #fa65b1;
    transition: all .3s;
    cursor: pointer;
}
#button6:hover{
    color: #fff;
    background: #fa65b1;
}
div.LastBox{
    box-shadow: 0px 0px 15px rgb(0 0 0 / 10%);
    position: relative;
    background-color: #fff;
    border-radius: 23px;
    text-align: center;
    margin: 0px 70px 100px;
}
div.BackgroundPhoto5{
    background-image: url("https://templatemo.com/templates/templatemo_568_digimedia/assets/images/contact-top-right.png");
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 0;
    width: 726px;
    height: 78px;
    background-repeat: no-repeat;
    z-index: 1;
}
div.BackgroundPhoto6{
    background-image: url("https://templatemo.com/templates/templatemo_568_digimedia/assets/images/contact-bottom-right.png");
    position: absolute;
    right: 0;
    bottom: 0;
    width: 532px;
    height: 106px;
    background-repeat: no-repeat;
    z-index: 1;
}
footer {
    background-image: url("https://templatemo.com/templates/templatemo_568_digimedia/assets/images/footer-bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 130px;
    padding: 15px;
    text-align: center;
}
div.center{
    width: 100%;
    max-width: 1600px;
    margin: auto;
}
footer p{
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
}
/* Screens */
@media screen and (max-width:900px){
    div.animation nav div:nth-of-type(2){
    display: none;
    }
    .Hamburger{
        display: block;
    }
    header div.container  a[id="pho"]{
        display: none;
    }
}
@media screen and (max-width: 1180px){
    div.BackgroundPhoto1{
        display: none;
    }
    div.flex{
        row-gap: 20px;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.5fr;;
        grid-template-areas: "left"
                            "right";
    }
    article[style="margin: 60px auto 0px;"] div.flex div.LeftSide{
        text-align: center;
    }
    div.GridFlex div.flex{
        row-gap: 20px;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.5fr;;
        grid-template-areas: "left"
                            "right";
    }
    div.BigGrid{
        row-gap: 20px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;;
        grid-template-areas: "map"
                            "form";
    }
    .LeftMap{
        padding: 52px 60px 2px 30px;
    }
}
@media screen and (max-width: 992px){
    div.animation nav div:nth-of-type(2) button{
        display: none;
    }
    div.miniflex2{
        display: none;
    }
}